server:
  port: 8081

spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  datasource:
    url: jdbc:mysql://localhost:3306/aw_product?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: ''

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/